/* NAV */
.container-app nav .box-shadow .box-menu a.menu.dashboard {
  border: 0.5px solid #a3a3a3;
  box-sizing: border-box;
}
/* NAV */

/* MAIN */
.container-app main {
  grid-area: main;
  border-right: 0.5px solid #a3a3a3;
  box-sizing: border-box;
  overflow: auto;
}

.container-app main .box-shadow {
  width: calc(100vw - 4em);
  max-width: 1030px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 90px repeat(2, 1fr) auto;
}

/* box-top */
.container-app main .box-shadow .box-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: tomato; */
}

.container-app main .box-shadow .box-top .box-left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.container-app main .box-shadow .box-top .box-left .title {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  font-family: "Poppins-SemiBold";
  font-size: 1.4rem;
}

.container-app main .box-shadow .box-top .box-left .description {
  display: flex;
  align-items: center;
  font-family: "Poppins-Regular";
  font-size: 0.75rem;
  /* background-color: yellowgreen; */
}

.container-app main .box-shadow .box-top .box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-app main .box-shadow .box-top .box-right .report {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #4285f4;
  cursor: pointer;
}

.container-app main .box-shadow .box-top .box-right .report img {
  width: 18px;
}

.container-app main .box-shadow .box-top .box-right .report .text {
  color: #fff;
  font-family: "Poppins-Regular";
  font-size: 0.7rem;
}
/* box-top */

/* box-middle */
.container-app main .box-shadow .box-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px 0;
  box-sizing: border-box;
}

.container-app main .box-shadow .box-middle .box-left {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.2);
  padding: 15px;
  box-sizing: border-box;
}

.container-app main .box-shadow .box-middle .box-left .text {
  font-family: "Poppins-Medium";
}

.container-app main .box-shadow .box-middle .box-right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.2);
  background-color: rgba(51, 51, 51, 0.2);
  overflow: hidden;
}

.container-app main .box-shadow .box-middle .box-right .title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.container-app main .box-shadow .box-middle .box-right .title .right {
  font-family: "Poppins-Medium";
  font-size: 0.95rem;
  padding: 0 25px;
  box-sizing: border-box;
}

.container-app main .box-shadow .box-middle .box-right .title .left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  box-sizing: border-box;
}

.container-app main .box-shadow .box-middle .box-right .title .left a {
  color: #4285f4;
  font-family: "Poppins-Regular";
  font-size: 0.8rem;
  text-decoration: none;
}

.container-app main .box-shadow .box-middle .box-right .list-instructor {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
}

.container-app main .box-shadow .box-middle .box-right .list-instructor .list {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  background-color: #fff;
}

.container-app
  main
  .box-shadow
  .box-middle
  .box-right
  .list-instructor
  .list
  .thumbnail {
  display: grid;
  align-content: center;
  justify-content: center;
}

.container-app
  main
  .box-shadow
  .box-middle
  .box-right
  .list-instructor
  .list
  .bio {
  display: grid;
  align-content: center;
  font-family: "Poppins-Regular";
  font-size: 0.7rem;
  line-height: 1.3em;
}

.container-app
  main
  .box-shadow
  .box-middle
  .box-right
  .list-instructor
  .list
  .review {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: center;
  justify-content: end;
  padding: 0 25px;
  box-sizing: border-box;
}

.container-app
  main
  .box-shadow
  .box-middle
  .box-right
  .list-instructor
  .list
  .review
  img {
  width: 15px;
}
/* box-middle */

/* box-bottom */
.container-app main .box-shadow .box-bottom {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.container-app main .box-shadow .box-bottom .box-left {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.2);
  background-color: rgba(51, 51, 51, 0.2);
  overflow: hidden;
}

.container-app main .box-shadow .box-bottom .box-left .title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.container-app main .box-shadow .box-bottom .box-left .title .left {
  display: grid;
  align-content: center;
  font-family: "Poppins-Medium";
  font-size: 0.95rem;
  padding: 0 25px;
  box-sizing: border-box;
  /* background-color: yellowgreen; */
}

.container-app main .box-shadow .box-bottom .box-left .title .right {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
  box-sizing: border-box;
  /* background-color: #fff; */
}

.container-app main .box-shadow .box-bottom .box-left .title .right img {
  width: 20px;
  cursor: pointer;
}

.container-app main .box-shadow .box-bottom .box-left .list-courses {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
}

.container-app main .box-shadow .box-bottom .box-left .list-courses .list {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  padding: 0 25px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Poppins-Regular";
  font-size: 0.8rem;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-left
  .list-courses
  .list
  .thumbnail {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-left
  .list-courses
  .list
  .thumbnail
  img {
  width: 36px;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-left
  .list-courses
  .list
  .name {
  display: flex;
  align-items: center;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-left
  .list-courses
  .list
  .total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-app main .box-shadow .box-bottom .box-right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.2);
  background-color: rgba(51, 51, 51, 0.2);
  overflow: hidden;
}

.container-app main .box-shadow .box-bottom .box-right .title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: #fff;
}

.container-app main .box-shadow .box-bottom .box-right .title .left {
  display: flex;
  align-items: center;
  font-family: "Poppins-Medium";
  font-size: 0.95rem;
}

.container-app main .box-shadow .box-bottom .box-right .title .right {
  display: flex;
  justify-content: flex-end;
}

.container-app main .box-shadow .box-bottom .box-right .title .right img {
  width: 20px;
  cursor: pointer;
}

.container-app main .box-shadow .box-bottom .box-right .list-categories {
  display: grid;
  grid-template-rows: repeat(5, 0.5fr);
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: #fff;
}

.container-app main .box-shadow .box-bottom .box-right .list-categories .list {
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: yellowgreen; */
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-right
  .list-categories
  .list
  .progress {
  width: 100%;
  height: 8px;
  background-color: #dfdfdf;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-right
  .list-categories
  .list
  .progress
  .shadow {
  width: 60%;
  background-color: #ff6666;
}

.container-app
  main
  .box-shadow
  .box-bottom
  .box-right
  .list-categories
  .list
  .description {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  font-family: "Poppins-Regular";
  font-size: 0.8rem;
}
/* box-bottom */

/* footer */
.container-app main .box-shadow footer {
  padding: 15px 0;
  box-sizing: border-box;
  font-family: "Poppins-Regular";
  font-size: 0.8rem;
  text-align: center;
}
/* footer */
/* MAIN */
